.button{
    display: inline-flex;
    gap: 50px
}

.home-btn{
    padding: 15px 20px;
    background: black;
    color: white;
    text-decoration: none;
}

.banner{
    background-image: url(assets/images/main-banner.jpg);
}

.banner h1{
    text-align: center;
}